<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SynVoS - Synthetic Voice Singer</title>

    <link type="image/x-icon" rel="shortcut icon"
          href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='styles/materialize.min.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='styles/styles.css') }}"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='styles/font-awesome.min.css') }}">
</head>
<body>
    <header>
        <div class="section purple lighten-1 white-text" id="header">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <a href="{{ url_for('index') }}">
                            <h1 class="hide-on-med-and-up">
                                <span style="color: #000;">S</span>yn<span style="color: #000;">V</span>o<span style="color: #000;">S</span>
                            </h1>
                            <img id="header_logo" class="right responsive-img hide-on-small-only"
                                 src="{{ url_for('static', filename='imgs/header.png') }}" alt="logo">
                        </a>
                        <p class="flow-text">
                            Способ сделать простую песню с поющим синтезированным голосом.
                        </p>
                    </div>
                    <div class="col s12 m6 l6 valign">
                        <img id="header_img" class="right responsive-img hide-on-small-only"
                             src="{{ url_for('static', filename='imgs/head.png') }}" alt="treble clef">
                    </div>
                </div>
            </div>
        </div>
        <div class="section purple lighten-2 white-text" id="subheader">
            <div class="container">
                <div class="row">
                    <div class="row valign-wrapper">
                        {% if not g.user.is_authenticated %}
                        <div class="col s4 m4 l4 valign">
                            <p class="flow-text">Войти с помощью: </p>
                        </div>
                        <div class="col s8 m8 l8 valign">
                            <div class="social-buttons">
                                <a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="social-button facebook z-depth-2">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="{{ url_for('oauth_authorize', provider='github') }}" class="social-button github z-depth-2">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="{{ url_for('oauth_authorize', provider='google') }}" class="social-button google z-depth-2">
                                    <i class="fa fa-google"></i>
                                </a>
                                <a href="{{ url_for('oauth_authorize', provider='vk') }}" class="social-button vk z-depth-2">
                                    <i class="fa fa-vk"></i>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="col s12 m12 l12 valign">
                            <p class="flow-text">Привет, {{ g.user.nickname }}</p>
{#                        </div>#}
{#                        <div class="col s8 m8 l8 valign"></div>#}
                            <a href="{{ url_for('index') }}" class="btn deep-orange lighten-1 waves-effect waves-light">Главная</a>
                            <a href="{{ url_for('profile') }}" class="btn deep-orange lighten-1 waves-effect waves-light">Профиль</a>
                            <a href="{{ url_for('logout') }}" class="btn deep-orange darken-1 waves-effect waves-light right">Выход</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row valign-wrapper">
                         <div class="col s12 m12 l12 valign">
                             {% with messages = get_flashed_messages() %}
                             {% if messages %}
                                 <ul>
                            {% for message in messages %}
                                     <li class="deep-orange-text">{{ message }}</li>
                            {% endfor %}
                                 </ul>
                            {% endif %}
                            {% endwith %}
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="divider"></div>
    {% block content %} {% endblock %}
    {% include 'scripts.html' %}
    <div class="divider"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <p class="flow-text left-align">Copyright &copy; Ilya Perevoznik 2016</p>
                </div>
                <div class="col s12 m6 l6 right">
                    <a class="right" href="https://tech.yandex.ru/speechkit/cloud/" target="_blank"><img src="https://goo.gl/PK971w" alt="Yandex SpeechKit"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>