{% extends 'base.html' %}
{% block content %}
    <header>
        <div class="section" id="header">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h1>
                        <span style="color: #000;">S</span>yn<span style="color: #000;">V</span>o<span style="color: #000;">S</span>
                    </h1>
                    <p class="flow-text">
                        Способ сделать простую песню с поющим синтезированным голосом.
                    </p>
                </div>
                <div class="col s12 m6 l6 center valign">
                    <img id="header_img" class="responsive-img hide-on-small-only"
                         src="{{ url_for('static', filename='imgs/head.png') }}" alt="logo">
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="divider"></div>
    <main>
        <div class="section" id="body">
            <div class="container">
                <h2>Все очень просто</h2>
                <div class="divider"></div>
                <div class="row" id="step1">
                    <div class="col s12 m12 l12">
                        <h3>Загрузите звуковой файл</h3>
                        <p class="flow-text">Песню, мелодию или сэмпл любого
                            популярного музыкального формата</p>
                        <form id="file-load-form" method='POST' enctype='multipart/form-data'>
                            <div class="file-field input-field">
                                <div class="waves-effect waves-light btn purple">
                                    <span>Обзор</span>
                                    <input id="file-loader" type="file" name="file">
                                </div>
                                <div class="file-path-wrapper purple-text">
                                    <input class="file-path validate" type="text"
                                               placeholder="Загрузите файл">
                                </div>
                                <button id="submit-song"
                                        class="waves-effect waves-light btn purple lighten-2 right">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12 center">
                        <p id="wav-status" class="flow-text">Отправляем файл</p>
                        <div id="circle" class="preloader-wrapper big active center">
                                <div class="spinner-layer spinner-red-only center">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                        </div>
                        <div id="progress" class="progress">
                            <div id="bar" class="determinate purple" style="width: 0"></div>
                        </div>
                    </div>
                </div>
                <div id="card-panel" class="card-panel flow-text pink lighten-5">
                    <code id="main-message"></code>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="flashes card-panel flow-text pink lighten-5">
                    {% for message in messages %}
                        <code>{{ message }}</code><br>
                    {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="divider"></div>
                <div class="row" id="step2">
                    <div class="col s12 m12 l12 valign-wrapper">
                        <div class="col s12 m6 l6">
                            <h3>Введите текст песни</h3>
                            <p class="flow-text">Текст, который будет пропет синтезатором речи</p>
                        </div>
                        <div class="col s12 m6 l6 center-align valign">
                            <div class="input-field">
                                <textarea id="song-text" cols="32" wrap="hard"
                                          class="materialize-textarea pink-text"></textarea>
                                <label class="purple-text" for="song-text">Текст песни</label>
                            </div>
                            <button class="waves-effect waves-light btn purple lighten-2 right"
                                    onclick="alert($('#song-text').val());">Готово</button>
                            <span>Кол-во тактов: <strong id="bar-counter" class="pink-text">0</strong></span>
                        </div>
                    </div>
                    <div class="col s12 m12 l12 card-panel">
                        <blockquote>Внимание!<br>От количества введенных строк зависит размер отрезка песни, который будет результатом работы этого приложения.</blockquote>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row" id="step3">
                    <div class="col s12 m12 l12">
                        <h3>Выберите фрагмент песни</h3>
                        <p class="flow-text">Фрагмент, на котором хотите слышать пение</p>
                        <div id="waveform"></div>
                        <button id="play-button" class="waves-effect waves-light btn purple lighten-2" onclick="wavesurfer.playPause()"><i class="material-icons">play_arrow</i><i class="material-icons">pause</i></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="divider"></div>
    <footer>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <p class="flow-text left-align">Copyright &copy; Ilya Perevoznik 2016</p>
            </div>
            <div class="col s12 m6 l6 right">
                <a class="right" href="https://tech.yandex.ru/speechkit/cloud/" target="_blank"><img src="https://goo.gl/PK971w" height="80" alt="Yandex SpeechKit"></a>
            </div>
        </div>
    </div>
    </footer>
{% endblock %}