    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='scripts/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/materialize.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/main.scripts.js') }}"></script>