    <!-- SCRIPTS -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/timeline.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
    <script>
        $('#circle').hide();
        $('#card-panel').hide();
        $('#progress').hide();
        $('#wav-status').hide();
        $('#play-button').hide();
        $('#waveform').hide();
        var bar_len = 0;
        var bar_count = 0;

        $(function(){
            $().timelinr();
        });

        function upload(file, name) {
             var xhr = new XMLHttpRequest();
             var percentage = 0;

             // обработчик для закачки
             xhr.upload.onprogress = function (event) {
                 percentage = (100 * event.loaded) / event.total;
                 $('#bar').css("width", percentage + "%");
                 $('#wav-status').text("Отправка файла...");

                 if (percentage == 100) {
                     Materialize.toast('Файл отправлен.', 1000);
                     $('#progress').hide();
                     Materialize.toast('Обработка файла...', 2500);
                     $('#wav-status').text("Обработка файла...");
                     $('#circle').show();
                     $('#bar').css("width", "0");
                 }
             };
             // обработчики успеха и ошибки
             // если status == 200, то это успех, иначе ошибка
             xhr.onload = xhr.onerror = function () {
                 if (this.status == 200) {
                     Materialize.toast('Файл обработан успешно.', 2000);
                     $('#wav-status').text("Успешно!");
                     $('#circle').hide();
                     // $('#card-panel').show();
                     var data = JSON.parse(xhr.responseText);
                     $('#card-panel').show();
                     $('#main-message').html(data.represent);
                     $('#waveform').show();
                     bar_len = data.bar_len;
                     wavesurfer.load('/static/audio/' + name);
                     $('#play-button').show();
                 } else {
                     $('#progress').hide();
                     $('#circle').hide();
                     $('#play-button').hide();
                     $('#card-panel').hide();
                     $('#waveform').hide();
                     Materialize.toast("Ошибка загрузки." + this.status, 2000);
                     Materialize.toast("Пожалуйста, обновите страницу и попробуйте снова." + this.status, 2000);
                      $('#step1').show();
                 }
             };

             xhr.open("POST", "file_upload", true);
             $('#progress').show();
             $('#wav-status').show();
             $('#step1').hide();
             xhr.send(file);
        }

         $('#submit-song').click(function() {
            event.preventDefault();
             if ($('#file-loader').get(0).files.length == 0) {
                 Materialize.toast('Пожалуйста, выберите файл.', 2000);
             } else {
                 $('#card-panel').hide();
                 $('#wav-status').hide();
                 $('#waveform').hide();
                 var input = $('#file-loader').get(0);
                 var file = input.files[0];

                 if (file) {
                     var form = $('#file-load-form')[0];
                     var form_data = new FormData(form);
                     upload(form_data, file.name)
                 }
                 return false;
             }
          });

         var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'violet',
            progressColor: 'purple'
         });

         $(window).resize(function() {
            wavesurfer.empty();
            wavesurfer.drawBuffer();
         });

         wavesurfer.on('ready', function () {
             wavesurfer.addRegion({
                 color: 'rgba(186, 104, 200, 0.5)',
                 loop: true,
                 resize: false,
                 start: 0,
                 end: bar_len * bar_count
             });
         });

         var textarea = $('#song-text');
         textarea.keyup(function() {
            var lines = textarea.val().split("\n");

            if (textarea.val().length > 0) {
                bar_count = Math.ceil(lines.length / 4);
                $('#bar-counter').text(bar_count);
            } else {
                bar_count = 0;
                $('#bar-counter').text(bar_count);

            }

            for (var i = 0; i < lines.length; i++) {
                lines[i] = lines[i][0].toUpperCase() + lines[i].slice(1);
                if (lines[i].length <= 32) continue;
                var j = 0;
                var space = 32;
                while (j++ <= 32) {
                    if (lines[i].charAt(j) === " ") space = j;
                }
                lines[i + 1] = lines[i].substring(space + 1) + (lines[i + 1] || "");
                lines[i] = lines[i].substring(0, space);
            }
            textarea.val(lines.join("\n"));
    {#        textarea.val(lines.slice(0, 4).join("\n"));#}
         });
    </script>